@import 'tailwindcss';

@theme {
  --spacing-em: 1em;
  --font-sans: 'Open Sans Variable', sans-serif;
  --color-dim: var(--color-neutral-600);
}

@layer base {
  * {
    border: var(--color-zinc-400);
  }
}

@utility row {
  display: flex;
  flex-direction: row;
}

@utility col {
  display: flex;
  flex-direction: column;
}
