@import 'tailwindcss';

@theme {
  --spacing-em: 1em;
}

@layer base {
  * {
    border: var(--color-slate-400);
  }
}

@utility row {
  display: flex;
  flex-direction: row;
}

@utility col {
  display: flex;
  flex-direction: column;
}
